div.main {
    background-color: coral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 50px;
    
}

aside {
    width: 30%;
    padding: 50px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    border-radius: 50px;
  }

h1 {

    background-color: blue;
    color: #9fa100;
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
    margin: 30px;
    text-align: center;
    border: 5px solid wheat;
    border-radius: 50px;
}

.menu li {
    display: inline;
    margin: 25px;
    font-size: xx-large;
}

.blog_entries li a img {
    width: 300px;
    height: 150px;
    border: 5px solid wheat;
    border-radius: 200px;
}

.blog_entries li {
    display: inline;
    padding: 30px;
}

.blog_post_title {
    text-align: center
}

footer {
    display: flex;
    justify-content: center;
    background-color: #9fa100;
    padding: 50px;
    border-radius: 50px;
}

body {
    background-color: wheat;
}