.baskabaska {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-bottom: 20px;
    opacity: 90%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightskyblue;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(246, 247, 249);
    border: 1px solid rgb(179, 172, 241);

  }
  
  /* Handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } */

.card:hover {
    box-shadow: 0 0 15px 15px rgba(103, 159, 216, 0.8);
}

div.card{
    background-color: lightskyblue;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header header header header"
    "sidebar main main main main"
    "footer footer footer footer footer";
    row-gap: 30px;
    column-gap: 30px;
    justify-items: stretch;
    align-items: stretch;
}

header {
    grid-area: header;
    position: fixed;

}

.sidebar {
    grid-area: sidebar;
    position: fixed;
    top: 250px;
    left: 10;
    background-color: #111;
    padding-top: 30px;
    max-width: 50%;
    opacity: 75%;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    margin-top: 200px;
}

button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
}

img {
    margin: 15px 5px 5px 5px;
    alt: "A graphical illustration of the animal";
}

div.toggleT {
    margin: 15px;
}

.cards-container {

    padding-left: 260px;
    padding-top: 250px;
}

.card-img-top {
    max-height: 75%;
    max-width: auto;
}

footer {
    background-color: lightskyblue;
}